name: Metrics
on:
  # Schedule updates (every 6 hours)
  schedule: [{ cron: "0 */6 * * *" }]
  workflow_dispatch:
  push: { branches: ["master", "main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: uwu/metrics.classic.svg
          user: Infer2
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Rangoon
          plugin_repositories: yes
          plugin_repositories_featured: MeteorDevelopment/meteor-client
          plugin_repositories_order: pinned, starred
          plugin_stars: yes
          plugin_stars_limit: 4
          repositories_forks: yes
      - name: meteor
        uses: lowlighter/metrics@latest
        with:
          filename: uwu/metrics.meteor.svg
          token: ${{ secrets.METRICS_TOKEN }}
          template: repository
          user: MeteorDevelopment
          repo: meteor-client
          plugin_lines: yes
          plugin_followup: yes
      - name: kernalsu
        uses: lowlighter/metrics@latest
        with:
          filename: uwu/metrics.kernalsu.svg
          token: ${{ secrets.METRICS_TOKEN }}
          template: repository
          user: tiann
          repo: KernalSU
          plugin_lines: yes
          plugin_followup: yes
      - name: calendar
        uses: lowlighter/metrics@latest
        with:
          filename: uwu/metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
      - name: graph
        uses: lowlighter/metrics@latest
        with:
          filename: uwu/metrics.plugin.graph.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_habits: yes
          plugin_habits_charts: uwu
          plugin_habits_charts_type: graph
          plugin_habits_facts: no
          plugin_habits_trim: yes
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Generate GitHub Contributions Snake Animations
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            uwu/github-snake.svg
            uwu/github-snake-dark.svg?palette=github-dark
            uwu/ocean.gif?color_snake=orange&color_dots=#bfd6f6,#8dbdff,#64a1f4,#4b91f1,#3c7dd9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to Output Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./uwu
          publish_branch: uwu
          commit_message: "Update snake animation [skip ci]"
